 
 body{
			background-position: top center;
			background-repeat: no-repeat;
			margin: 0px;
			padding: 0px;
			min-width: 640px;
			width: 100%;
			border-width: 0px;
			background-color: #21212f !important;
			font-family: RobotoRegular;
			}
#header{
	display: block;
	position: relative;
	padding: 0 128px 0 128px;
	height: 128px;
	background-color: #FFF;
	line-height: 96px;
}	
.exposition #header{
	height: 100%;
}		
#imges{
	position: absolute;
    top: 0;
    bottom: 0;
    width: 79%;
    height: 75%;
    margin: auto;
}

#search-img{
	margin-left:40px;
    margin: auto;
}
#rss-img{
	margin-left:40px;
    margin: auto;
}
#slider{
	z-index: 1;
	height: 610px;
	background-color: #000;
	width: 100%;
	margin-bottom: -40px;
	padding: 0px !important;
	overflow: hidden;
}
#main-holst{
	width: 864px;
	position: relative;
	z-index: 2;
	background-image: url('../img/svg/bg-tile.svg');
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 72px;
	padding: 92px 72px;
	border-radius: 15px; 
	box-shadow: 0 4px 10px #000;
}
#text-title{
	font-family: RobotoRegular;
	font-size: 21pt;
	color: #FFF;
	margin-top: -40px;
	margin-bottom: 15px;
	letter-spacing: 0.6px;
    display: inline-block;
}
.card{
	width: 240px;
	height: 360px;
	overflow: hidden;
}
.exposition .card{
	width: 567px;
	height: 420px;
	overflow: hidden;
}
.card p{
	opacity: 0.9;
	font-family: RobotoRegular;
	font-size: 21pt;
	color: #000;
	letter-spacing: 0.6px;
	text-align: center;
	line-height: 4;
}

.effect {
  position: relative;
  float: left;
}  

.effect .pic{
	width: 240px;
	height: 240px;
	  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;		  
}
.exposition .effect .pic{
	width: auto !important;
	height: 100% !important;
	max-height: 100%;
	display: block;
	margin: 0 auto;	  
}
.effect:hover .pic{
	width: 360px;
	height: 100%;
    margin-left: -30px;
}
.exposition .effect:hover .pic{
	width: 360px;
	height: 100%;
	margin-left: 0px;
}
.effect>.card:hover  p{
	display: none;
}
.effect .pic.wide-frame{
	width: 1152px;
	height: 100%;
	  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;		  
}
.eff-2-2 .caption {
  padding: 0 30px;
  position: absolute;
  top: 0px;
  background: #a33d35;
  width: 240px;
  height: 360px;
  max-width: 240px;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.exposition .eff-2-2 .caption {

  padding: 0px;
  position: absolute;
  top: 0px;
  background: #000;
  width: 240px;
  height: 360px;
  max-width: 240px;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.effect:hover .pic.wide-frame{
	width: 1152px;
	height: 100%;
  	margin-left: 0px;
 	overflow: hidden;
}

.eff-2-2 {
  width: 240px;
  height: 360px;
}
.exposition .eff-2-2 {
  width: 567px;
  height: 384px;
  overflow: hidden;
  padding: 0;
  background-color: #21212f;
}
.text-exposition p{
	padding: 30px 58px;
}
.eff-2-2 .caption.wide-frame{
	padding: 128px;
  position: absolute;
  top: 0px;
  background: #000;
  width: 1152px;
  height: 704px;
  max-width: 990px;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.eff-2-2 .caption.half-frame{
  padding: 73px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  max-width: 100%;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.eff-2-2 .caption .h4{
  font-family: RobotoRegular;
  font-size: 21px;
  text-align: center;
  position: relative;
  top: -30px;
  opacity: 0;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.exposition .eff-2-2 .caption .h4{
	 font-size: 30px;
}
.eff-2-2 .caption p {
  margin: 15px 0px;
  text-align: center;
  opacity: 0.8;
	font-family: RobotoRegular;
	font-size: 14pt;
	color: #fff;
	letter-spacing: 0.6px;
	text-align: left;
	line-height: 1;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.exposition .eff-2-2 .caption p {
	font-size: 21pt;
	}
.eff-2-2 .caption a.btn {
	font-family: RobotoRegular;
	font-size: 12pt;
	margin-right: 5px;
  width: 120px;
  text-align: right;
  display: inline;
  text-decoration: none;
  color: #fff;
  position: relative;
  opacity: 0.8;
  cursor: pointer;;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.exposition .eff-2-2 .caption a.btn{
	padding: 0;
	font-family: RobotoRegular;
	font-size: 12pt;
	margin-right: 5px;
  width: 120px;
  text-align: right;
  display: inline;
  text-decoration: none;
  color: #fff;
  position: relative;
  opacity: 0.8;
}
.eff-2-2:hover .h4,
.eff-2-2:hover a.btn {
  top: 0px;
  opacity: 1;
}
.eff-2-2:hover .caption,
.eff-2-2:hover p {
  opacity: 0.8;
}       
.eff-2-2:hover  #down-text{
	
	opacity: 0;
}
.flip-horizontal{
	width: 14px !important;
	color: #000;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH"; 
}

.exposition #header{
	background-image: url('../img/svg/bg-tile.svg');
	border-bottom: 5px solid #fff;
	padding:0px 72px;
	color: #7f7ea3;
}
.exposition #header span img{
	width: 14px !important;
	margin-right: 8px;
}
.exposition #header span{
	font-family: RobotoRegular;
	font-size: 14pt;
	color: #000;
	letter-spacing: 0.6px;
	float: left;
	color: #7f7ea3;
}
.exposition #header p{
	position: absolute;
	font-family: RobotoRegular;
	font-size: 38pt;
	color: #FFF;
	letter-spacing: 0.6px;
}

.exposition #content{
	width: 100%;
	background-image: url('../img/svg/bg-tile.svg');
}
.exposition #main-holst{
	width: 1152px  !important;
	background-image: none;
		border-radius: 0px; 
	box-shadow: 0 0px 0px;
	padding: 24px 0px !important;
	margin: 0 auto !important;
}
.text-exposition p{
	text-align: left;
	font-family: RobotoRegular;
	font-size: 21pt;
	color: #FFF;
	letter-spacing: 0.6px;
}
.wide-frame{
	width: 1152px !important;
	height: 704px !important;
	max-width: 1152px !important;
	max-height: 704px !important;
}
.half-frame{
	width: 567px !important;
	height: 384px !important;
}
.carousel-indicators{
	bottom: 50px !important;
}
.carousel-caption{
	top: 260px !important;
	width: 100%;
	left: 0px !important;
	float: left;
}
.col-sm-5{
  padding: 0px !important;
}
.row-fluid{
  margin: 10px 0 !important;
}
.col-sm-12{
padding: 0px !important;
}
.container-fluid{
	padding: 0px !important;
}
.carousel-caption .caption-header{
	height: 100%;
	font-family: RobotoRegular;
	font-size: 89px;
	float: left;
}
.carousel-caption .caption-text{
	height: 100%;
	font-family: RobotoRegular;
	font-size: 21px;
	letter-spacing: 0.6px;
	line-height: 28px;
	float: left;
	padding-top: 44px !important;
	opacity: 0.9;
}
.item img{
	opacity: 0.6;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0 !important;
  background-color: #000;
}
.modal.container{
	width: 100%;
}
.modal #slider{
	margin: 0;
}
.modal-dialog{
	width: 100% !important;
}
.modal-body{
	padding: 0;
}