/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.exposition #header p{
	font-size: 34px !important;
	}
.row{
		padding: 0 !important;
	}
.container{
		padding: 0 !important;
	}
.exposition #main-holst {
    width: 940px !important;
}
.wide-frame{
	width: 940px !important;
	height: 574px !important;
}
.half-frame{
	width: 426px !important;
	height: 288px !important;
}
.eff-2-2 .caption.wide-frame{
	padding: 70px;
}
.eff-2-2 .caption.half-frame{
	padding: 30px;
}
.exposition .eff-2-2 .caption.half-frame p{
	font-size: 18px;
	line-height: 1.6;
}
.text-exposition p{
	padding: 0;
	font-size: 20px;
	line-height: 1.6;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.exposition #header{
		padding: 0px !important;
	}
.exposition #header p{
	font-size: 30px !important;
	}
.row{
		padding: 0 !important;
	}
.container{
		padding: 0 !important;
	}
.exposition #main-holst {
    width: 720px !important;
}
.wide-frame{
	width: 720px !important;
	height: 440px !important;
	max-width: 720px !important;
	max-height: 440px !important;
}
.half-frame{
	width: 567px !important;
	height: 384px !important;
}
.text-exposition p{
	padding: 0;
	font-size: 18px;
	line-height: 1.4;
}
.eff-2-2 .caption.wide-frame{
	padding: 40px;
}
.eff-2-2 .caption.half-frame{
	padding: 40px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.exposition #header{
		padding: 0px !important;
	}
.exposition #header p{
	
	font-size: 24px !important;
	}
.row{
		padding: 0 !important;
	}
.container{
		padding: 0 !important;
	}
.exposition #main-holst {
    width: 579px !important;
}
.wide-frame{
	width: 579px !important;
	height: 354px !important;
}
.half-frame{
	width: 567px !important;
	height: 384px !important;
}
.text-exposition p{
	padding: 10px 0;
}
.eff-2-2 .caption.wide-frame{
	padding: 30px;
}
.eff-2-2 .caption.half-frame{
	padding: 30px;
	font-size: 16px;
	line-height: 1.4;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.exposition #header p{
	font-size: 14px !important;
	}
.row{
		padding: 0 !important;
	}
.container{
		padding: 0 !important;
	}
.exposition #main-holst {
    width: 374px !important;
}
.wide-frame{
	width: 374px !important;
	height: 228px !important;
}
.half-frame{
	width: 320px !important;
	height: 217px !important;
}
.text-exposition p{
	padding: 10px 0;
	font-size: 14px;
	line-height: 1.2;
}
.eff-2-2 .caption.wide-frame{
	padding: 20px;
}
.eff-2-2 .caption.half-frame{
	padding: 20px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.exposition #header p{
	font-size: 14px !important;
	}
.exposition #main-holst {
    width: 320px !important;
}
.wide-frame{
	width: 320px !important;
	height: 196px !important;
}
.half-frame{
	width: 320px !important;
	height: 217px !important;
}
.eff-2-2 .caption.wide-frame{
	padding: 20px;
}
.eff-2-2 .caption.half-frame{
	padding: 20px;
}
.text-exposition p{
	padding: 10px 0;
	font-size: 14px;
	line-height: 1.2;
}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}